@import "mixin";
@import "color";

body {
  font-family: 'Noto Serif JP', serif;
}

.photo_title {
  font-size: 150px;
  @include cursive;
  padding-top: 120px;
  padding-bottom: 70px;
  text-align: center;
}

.spring_title {
  font-size: 85px;
  @include cursive;
  color: $haru;
  margin-left: 5%;
  margin-bottom: 80px;
}

.summer_title {
  font-size: 85px;
  @include cursive;
  color: $natu;
  margin-left: 5%;
  margin-bottom: 80px;
}

.autumn_title {
  font-size: 85px;
  @include cursive;
  color: $aki;
  margin-left: 5%;
  margin-bottom: 80px;
}

.winter_title {
  font-size: 85px;
  @include cursive;
  color: $huyu;
  margin-left: 5%;
  margin-bottom: 80px;
}

.slider {
  width: 90%;
  height: 500px;
  margin:0 auto 50px;

  li {
    margin: 0 auto;
  }

  img {
    width: 82%;
    height: 310px;
    margin: 0 auto;
    object-fit: cover;
    }
}

.spring_box {

  width: 82%;
  height: 140px;
  margin: 0 auto 10px;
  padding-top: 10px;
  // padding-bottom: 30px;
  box-shadow: 10px 10px 20px #ddd;

  .haru_ttl {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 10px;
  }

  .haru_txt {
    margin-left: 10px;
  }
}


.slider .slick-slide {
  height: auto;
}

.slick-prev, .slick-next {
  z-index: 1;
  position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -1.5%;
    transform: rotate(45deg);
}

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
  margin-top: 30px;
    color: transparent;
    outline: none;
    width:16px;
    height:14px;
    display:block;
    border-radius:50%;
    background:#ccc;
    border: none;
}

.slide_spring .slick-dots .slick-active button{
    background: $haru;
}

.slide_summer .slick-dots .slick-active button{
    background: $natu;
}

.slide_autumn .slick-dots .slick-active button{
    background: $aki;
}

.slide_winter .slick-dots .slick-active button{
    background: $huyu;
}

footer {
  margin-top: -80px;
  z-index: 10;
  padding-top: 300px;
}

.footer_txt {
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: bottom;
  position: absolute;
}

@media screen and (max-width: 768px){

  .header_all {
    margin-top: 0;
  }

  .slider {
    width: 60%;
  }
}

@media screen and (max-width: 500px){

  .photo_title {
  font-size: 90px;
}

.spring_title {
  font-size: 75px;
}

.summer_title {
  font-size: 75px;
}

.autumn_title {
  font-size: 75px;
}

.winter_title {
  font-size: 75px;
}

  .slider {
    width: 90%;
    margin-bottom:100px;
  }
}

@media screen and (max-width: 400px){
.photo_title {
  font-size: 100px;
}

.spring_title {
  font-size: 65px;
}

.summer_title {
  font-size: 65px;
}

.autumn_title {
  font-size: 65px;
}

.winter_title {
  font-size: 65px;
}
}

@media screen and (max-width: 330px){
.photo_title {
  font-size: 80px;
}
}