body {
  font-family: 'Noto Serif JP', serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

header .header_all {
  position: fixed;
  margin-top: 1%;
  right: 0;
  z-index: 1000;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1000;
}

header li {
  margin-right: 25px;
}

.top {
  width: 100vw;
  height: 100vh;
  display: table;
}

.top_boxString {
  font-size: 120px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Pinyon Script', cursive;
  line-height: 60px;
  color: white;
}

.top_boxString small {
  font-size: 25px;
  font-family: 'Noto Serif JP', serif;
  color: white;
}

#top2 {
  background: url("../images/spring/sakura.jpg");
  background-size: cover;
  background-position: center;
}

.top2 {
  display: table;
  width: 100vw;
  height: 100vh;
}

.top2_all {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 20;
}

.top2_box {
  width: 376px;
  height: 508px;
  background-color: white;
  z-index: 10;
  opacity: 0.7;
  margin-left: 5%;
}

.top2_ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
}

.top2_ttl strong {
  margin-top: 60px;
  font-family: 'Pinyon Script', cursive;
  color: #8D8D8E;
}

.top2_txt {
  font-size: 20px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#spring {
  background: url(../images/spring/haru.jpg);
  background-size: cover;
  background-position: center;
}

#summer {
  background: url(../images/summer/summer.jpg);
  background-size: cover;
  background-position: center;
}

#autumn {
  background: url(../images/autumn/fall.jpg);
  background-size: cover;
  background-position: center;
}

#winter {
  background: url(../images/winter/fuyu.jpg);
  background-size: cover;
  background-position: center;
}

.spring {
  display: table;
  width: 100vw;
  height: 100vh;
}

.spring_all {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.spring_ttl {
  font-family: 'Pinyon Script', cursive;
  font-size: 120px;
  color: white;
}

.summer {
  display: table;
  width: 100vw;
  height: 100vh;
}

.summer_all {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.summer_ttl {
  font-family: 'Pinyon Script', cursive;
  font-size: 120px;
  color: white;
}

.autumn {
  display: table;
  width: 100vw;
  height: 100vh;
}

.autumn_all {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.autumn_ttl {
  font-family: 'Pinyon Script', cursive;
  font-size: 120px;
  color: white;
}

.winter {
  display: table;
  width: 100vw;
  height: 100vh;
}

.winter_all {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.winter_ttl {
  font-family: 'Pinyon Script', cursive;
  font-size: 120px;
  color: white;
}

.btn_box {
  margin-top: 60px;
}

.btn {
  display: inline-block;
  margin: 60px auto;
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
  border-radius: 100vh;
  padding: 25px 88px 25px 88px;
  color: white;
  font-size: 20px;
  z-index: 10;
}

.btn:hover {
  border: transparent;
  opacity: 1;
  background: -webkit-gradient(linear, right top, left top, color-stop(5%, #339999), color-stop(50%, #B384FF), color-stop(70%, #8eb8ff));
  background: linear-gradient(270deg, #339999 5%, #B384FF 50%, #8eb8ff 70%);
  background-position: right center;
  background-size: 250% auto;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 10;
}

.btn:hover::after {
  background-position: 99% 50%;
}

footer {
  margin-top: -80px;
  z-index: 10;
}

.footer_txt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: bottom;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .header_all {
    top: 2%;
  }
  .top2_box {
    margin: 0 auto 0 auto;
  }
}
